In [4]:
import pandas as pd
allData = pd.read_csv('world.csv', usecols=['國家', '日期', '總確診數','新增確診數'], index_col='日期')
allData

             國家    總確診數  新增確診數
日期
2020-02-24  阿富汗       5      5
2020-02-25  阿富汗       5      0
2020-02-26  阿富汗       5      0
2020-02-27  阿富汗       5      0
2020-02-28  阿富汗       5      0
...         ...     ...    ...
2022-07-02  辛巴威  255586      0
2022-07-03  辛巴威  255586      0
2022-07-04  辛巴威  255726    140
2022-07-05  辛巴威  255755     29
2022-07-06  辛巴威  255805     50

[187885 rows x 3 columns]

In [6]:
#將索引變成Datetime資料類型
allData.index = pd.to_datetime(allData.index)
allData.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 187885 entries, 2020-02-24 to 2022-07-06
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   國家      187885 non-null  object
 1   總確診數    187885 non-null  int64
 2   新增確診數   187885 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.7+ MB

In [7]:
#使用loc可以直接輸入所要的日期月份來抓資料
allData.loc['2020-02']

             國家   總確診數  新增確診數
日期
2020-02-24  阿富汗      5      5
2020-02-25  阿富汗      5      0
2020-02-26  阿富汗      5      0
2020-02-27  阿富汗      5      0
2020-02-28  阿富汗      5      0
...         ...    ...    ...
2020-02-25   全球  80412    854
2020-02-26   全球  81384    973
2020-02-27   全球  82728   1344
2020-02-28   全球  84152   1424
2020-02-29   全球  86023   1871

[1260 rows x 3 columns]